/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Exo:wght@100;200;300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box; /* Includes padding/border in an elements total height/width-Credit:Kevin Powell https://www.youtube.com/watch?v=WlGQdgy-M6w */
    padding: 0;
    margin: 0;
}

:root {
    --exo-font:"Exo", sans-serif;
    --rubik-font:"Rubik", sans-serif;
    --cairo-font:"Cairo", sans-serif;
}

body {
    overflow-x: hidden;
    background: #f5f5f5;
}

/* -------Header */
header {
    background: #6FBBDD;
    background: linear-gradient(#303c6c, #b4dfe5 );
    padding-bottom: 9.5rem;
}

/* -------Navbar */
header a {
    font-family: var(--exo-font);
    font-size: 1em;
    font-weight: 500;
    color: #f4976c;
}


header a:hover {
    color: #fbe8a6;   
    
}

header .nav-item {
    padding: 0.9em;
}

header .nav-item:last-child {
    padding-right: 2em;
}

header .nav-item:last-child a:hover {
    background-color: #fc7100;
    border-color: #fc7100;
    color: #f5f5f5;
}

img.img-size {
    width: 50%;
    padding-left: 3em;
}
/* -------End Navbar */
/* -------Welcome section */
div .row .col-md-7 {
    padding-top: 8rem;
    font-family: var(--cairo-font);
    font-weight: 300;
}

header div .row .col-md-7 h2 {
    font-size: 8vmin;
    font-family: var(--exo-font);
    font-weight: 400;
    color: #fc7100;
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
    
}

header div .row .col-md-7 p {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #f5f5f5;
}

header div .row .col-md-7 a {
    margin-top: 1.3rem;
}

header div .row .col-md-7 a:hover {
    background-color: #fc7100;
    border-color: #fc7100;
    color: #f5f5f5;
}

div .row .col-md-5 { /*Welcome image*/
    padding-top: 6rem;
}
/* ------- End Welcome section */
/* ------- How it works section */
div.about-content {
    height: 100vmin;
}

div.about-content>h2 {
    width: 100%;
    height: 20vmin;
    font-family: var(--cairo-font);
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 1px;
    padding-top: 5vmin;
}

.about-content .about-cards .card{
    margin: 1vmin;
    margin-top: 2em;
}
/* ------- End How it works section */
/* ------- Projects section */

section.bg-color {
    background: linear-gradient(#fbe8a6, #f4976c) ;
}

.cover {
    width: 100%;
    height: 60vmin;
    background: url(/assets/images/626nhvtivci1bj0nmcohhe7bs2.png) no-repeat center / contain;
    background-size: 100vmin; 
    position: relative;
}

.cover .content {
    background-color: rgba(180, 223, 229, 0.4);
    height: 100%;
    width: 100%;
    padding-top: 10rem;
}

.cover .content>h2 {
    font-family: var(--cairo-font);
    font-size: 8vmin;
    color: #fff;
    text-shadow: 0 0 3px black;
}

.projects img {
    width: 17rem;
    height: 15rem;
    padding: 0 1em;
    justify-content: space-evenly;
}

.project-section .projects {
    position: relative;
    width: 17rem;
    height: 12rem;
    z-index: 1;
}
/* ------- End Projects section */