/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Exo:wght@100;200;300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box; /* Includes padding/border in an elements total height/width-Credit:Kevin Powell https://www.youtube.com/watch?v=WlGQdgy-M6w */
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --exo-font:"Exo", sans-serif;
    --rubik-font:"Rubik", sans-serif;
    --cairo-font:"Cairo", sans-serif;
}

body {
    overflow-x: hidden;
    background: #f5f5f5;
}



/* -------Header */
header {
    background: #6FBBDD;
    background: linear-gradient(#303c6c, #b4dfe5 );
    padding-bottom: 9rem;
}

/* -------Navbar */
div.navbar-brand {
    position: absolute;
}

header a {
    font-family: var(--exo-font);
    font-size: 1em;
    font-weight: 500;
    color: #f4976c;
}


header a:hover {
    color: #fbe8a6;   
    
}

header .nav-item {
    padding: 0.9em;
}

header .nav-item:last-child {
    padding-right: 2em;
}

header .nav-item:last-child a:hover {
    background-color: #fc7100;
    border-color: #fc7100;
    color: #f5f5f5;
    transition:250ms ease-in;
}

img.img-size {
    width: 90%;
}
/* -------End Navbar */
/* -------Join us Modal */
div.modal-content {
    background-color: #fc7100cc;
    font-family: var(--exo-font);
    color: whitesmoke;
}

label.btn.btn-primary.gap-between {
    margin-right: .2em;
}

label a.terms-color {
    color: #6FBBDD;
}
/* -------End join us Modal */
/* -------Welcome section */
div .row .col-lg-7 {
    padding-top: 8rem;
    font-family: var(--cairo-font);
    font-weight: 300;
}

header div .row .col-lg-7 h2 {
    font-size: 8vmin;
    font-family: var(--exo-font);
    font-weight: 400;
    color: #fc7100;
    text-shadow: -1px 1px 0px black;
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
    
}

header div .row .col-lg-7 p {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #f5f5f5;
}

header div .row .col-lg-7 a {
    margin-top: 1.3rem;
}

header div .row .col-lg-7 a:hover {
    background-color: #fc7100;
    border-color: #fc7100;
    color: #f5f5f5;
    transition:250ms ease-in;
}

img.welcome-img { /*Welcome image*/
    padding-top: 6rem;
    width: inherit;
}
/* ------- End Welcome section */
/* ------- How it works section */
div.about-content {
    width: 100%;
    background: linear-gradient( #f4976c, #fbe8a6);
    padding-bottom: 2em;
}

div.about-content>h2 {
    height: 20vmin;
    font-family: var(--exo-font);
    font-weight: 300;
    font-size: 4rem;
    color: #f5f5f5;
    text-shadow: -1px 1px 4px black;
    letter-spacing: 1px;
    padding-top: 6vmin;
}

.about-content .about-cards .card{
    width: 30vmin;
    margin: 5vmin;
    margin-top: 2em;
    border-radius: 10px;
    font-family: var(--cairo-font);
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: -1px 1px 22px black;
}

.about-cards div {
    padding: 0;
    margin: 0;
}

.about-cards img.card-img-top {
    padding: 1.2em;
}

.about-cards img.card-img-top.image-shape {
    border-radius: 50%;
}

.about-cards .card-title {
    padding: 0.5rem 0.5rem;
    margin: .5rem;
    background-color: #f4976c99;
    border-radius: 30px;
}

.about-cards .card-text {
    padding: 1vmin 1vmin;
}

.about-cards a {
    width: 6em;
    font-family: var(--cairo-font);
    font-weight: 500s;
    background-color: #303c6c;
    border-color: #303c6c;
    color: #f5f5f5;
}

.about-cards a:hover {
    background-color: #fc7100;
    border-color: #fc7100;
    color: #f5f5f5;
    transition:300ms ease-in;
}
/* ------- End How it works section */
/* ------- Freelancer section */
.freelancer-section {
    background: linear-gradient(#b4dfe5, #303c6c);
    padding-bottom: 6rem;
}

.freelancer-section .container h2 {
    font-family: var(--cairo-font);
    font-size: 10vmin;
    font-weight: 400;
    padding: 12vmin 0;
    color: #fc7100;
    text-shadow: -1px 1px 4px black;
}

.freelancer-section .card {
    width: 20rem;
    margin-top: 1vmin; 
    background-color: #303c6c66;
    border: 1px solid #fc710066 ; 
}

.freelancer-section img {
    border-radius: 50%;
    height: 8em;
    border: 1px solid #fc7100; 
}

.freelancer-section .card-img-top {
    padding-top: 1em;
}

img.img-fluid.img-width {
    width: 40%;
}

.freelancer-section .card .card-title {
    font-family: var(--cairo-font);
    font-size: 1.5em;
    font-weight: 300;
    color: #f5f5f5;
    letter-spacing: 1px;
}

.freelancer-section .card .card-text.font-style {
    font-size: .75em;
    color: #f5f5f5cc;
}

.freelancer-section .card hr {
    background-color: #fc710066;
}

.freelancer-section .card .card-text {
    font-family: var(--exo-font);
    font-size: 1em;
    letter-spacing: 1px;
    color: #f5f5f5;
    font-weight: 200;
}

.freelancer-section .card .card-text.languages {
    font-family: var(--cairo-font);
    font-weight: 500;
    font-size: 1em;
    color: #f5f5f5;
    text-shadow: 0px 2px 4px black;
    margin: 0.25rem 0.25rem;
    padding: .25rem .25rem;
    background-color: rgba(252, 113, 0, 0.5);
    border-radius: .5em;
    box-shadow: 1px 1px 2px black;;
}
/* ------- End Freelancer section */
/* ------- Projects section */
section.bg-color {
    background: linear-gradient(#fbe8a6, #f4976c);
}

.cover {
    width: 100%;
    height: 55vmin;
    background: url(/assets/images/cover-bg-image.png) no-repeat center / contain;
    background-size: 100vmin;
    padding: 0 3rem; 
    position: relative;
}

.cover .content {
    background-color: rgba(180, 223, 229, 0.4);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding-top: 10rem;
}

.cover .content>h2 {
    font-family: var(--cairo-font);
    font-size: 7vmin;
    color: #fff;
    text-shadow: -1px 1px 3px black;
}

div.box-shadow {
    background-color: rgba(180, 223, 229, 0.3);
    box-shadow: 0px 10px 18px brown;
}

.projects img {
    height: 20rem;  
}

.projects h4 {
    font-family: var(--cairo-font);
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #f5f5f5;
    text-shadow: 0 0 1.5px black;
}

.projects hr {
    margin-inline: 3em;
}

.projects p {
    margin-inline: 6em;
    font-family: var(--exo-font);
    letter-spacing: 1px;
}
/* ------- End Projects section */
/* ------- Contact section */
.contact-section {
    height: 45vmin;
    background: linear-gradient(#303c6c, #6FBBDD);
    font-family: var(--exo-font);
}

.contact-section div.col h2 { 
    font-weight: 200;
    font-size: 3em;
    color: #fc7100;
    padding: 1em 0 0 0;
}

.contact-section div.col p {
    letter-spacing: 1px;
    color: #363636;
    font-size: 1.25em;
    padding-bottom: 1em;
}

.contact-section div.col a {
    background-color: #fc7100;
}

.contact-section div.col a:hover {
    background-color: #303c6c;
    border-color: #303c6c;
    transition:250ms ease-in;
}

form.contact-content {
    padding: 0 3em;
    margin-top: -2em;
    font-family: var(--exo-font);
}

fieldset {
    border: 2px solid #f4976c;
    padding: 3em;
}

fieldset>legend {
    font-size: 2em;
    letter-spacing: .75px;
    color: #fc7100;
    text-shadow: 1px 1px 4px black;
}

label.font-style {
    font-size: 1.5em;
    letter-spacing: .75px;
    color: #f4976c;
    text-shadow: 1px 1px 4px black;
}

button.button-style {
   background-color: #fc7100cc;
   border-color: #fc7100cc;
}

button.button-style:hover {
    background-color: #fc7100;
    border-color: #fc7100;
}

div.col-md-5.col-sm-12.jumbotron {
    margin-top: 4em;
    font-family: var(--exo-font);
    background-color:#b4dfe54d;
    box-shadow: -1px 5px 15px black;
}

section.email-section h1 {
    color: #fc7100;
    font-weight: 200;
}

span.text-color {
    color: #f4976c;
}

section.address-section h1 {
    color: #fc7100;
    font-weight: 200;
} 
/* ------- End Contact section */
/* ------- Footer section */
footer {
    background-color: #f4976c8e;
    height: 50%;
    padding: 1em 0 1em 2em;
    overflow-x: hidden;
}

footer img {
    width: 60%;
    padding-top: .5rem;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}

footer .col-md-4.txt-right p {
    padding-top: .75em;
    letter-spacing: 1px;
    font-family: var(--rubik-font);
    font-weight: 500;
    font-size: 1em;
    color: #484d52;
}

footer .col-md-3.txt-left {
    padding-top: .75rem;
}

footer .col-md-3.txt-left a {
    text-decoration: none;
    letter-spacing: 1px;
    font-family: var(--rubik-font);
    font-weight: 500;
    font-size: 1em;
    color: #484d52;
}

footer .col-md-3.txt-left a:hover {
    
    color: #fff;
    transition:250ms ease-in;
    text-shadow: 0px 0px 1.5px black;
}
/* ------- End Footer section */
/* ------- Terms section */

div.terms-container{
    padding-top: 5rem;
}

div.row.jumbotron {
    background-color: #b4dfe552;
}

section.terms-section {
    font-family: var(--cairo-font);
    letter-spacing: .5px;
}

section.terms-section h2, h3 {
    font-size: 3em;
    color: #fc7100cc;
    text-shadow: -1px 1px 1px black;
}

section.terms-section dl, ol, ul {
    text-align: initial;
    margin-left: 7.1em;
}
/* ------- End Terms section */
/* ------- Breakpoints */

@media only screen and (max-width: 1024px){
    div.contact-section div.row.text-center {
    padding-top: 3.5em;
 }
}

@media only screen and (max-width: 768px) {
    /* ------- About us Breakpoint */
div.about-content>h2{
    height: 27vmin;
}

 div.about-cards {
     padding: 4em;
 }

 .about-cards a {
     margin-top: 2.2em;
 }
 /* ------- Contact Us Breakpoint */
 div.contact-section.container-fluid.justify-content-center {
     height: 55vmin;
 }
 div.contact-section div.row.text-center {
    padding-top: 1.5em;
 }

}
@media only screen and (max-width: 425px) {
    /* -------- Contact Us Breakpoint */
    div.contact-section.container-fluid.justify-content-center {
        height: 90vmin;
    }
    /* -------- Footer Breakpoint */
    .col-md-5.txt-left{
        text-align: center;
        padding-bottom: 5px;
    }

    .col-md-4.txt-right p {
        text-align: center;
    }

    .col-md-3.txt-left {
        text-align: center;
    }

}