/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Exo:wght@100;200;300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box; /* Includes padding/border in an elements total height/width-Credit:Kevin Powell https://www.youtube.com/watch?v=WlGQdgy-M6w */
    padding: 0;
    margin: 0;
}

:root {

}

body {
    overflow-x: hidden;
}